



body{
	background-image: url("../images/background.jpg")
}

.header{
	background-color: black;
	color: white;
	margin: 10px;
	width: 25%
}

.instructions{
	background-color: yellow;
	color: green;
	width: 50%;
}

.score {
	font-size: 25px;
	color: purple;
	background-color: green;
}

.WLblock {
	background-color: teal;
}

.crystals{

}

.crystalImage {
	width: 60px;
	height: 60px;
}

.yourscore1{
	background-color: black;
	color: white;
}

.yourscore2{
	background-color: black;
	color: white;	
}
